extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="IMagen de Nosotros")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nunc odio, facilisis vel bibendum efficitur, interdum vel ex. Duis orci sem, fermentum non sagittis non, molestie in metus. Integer accumsan accumsan varius.
                p Vestibulum malesuada dictum urna, non egestas velit pulvinar vitae. In scelerisque hendrerit bibendum. Maecenas rutrum ligula eu mauris dignissim, eget luctus odio aliquet. Aliquam efficitur at leo in pellentesque. Vestibulum luctus hendrerit nunc at malesuada.
                p Mauris magna ex, ullamcorper id tortor maximus, pretium elementum elit. Aliquam eleifend est a nisi feugiat, eget pellentesque orci consequat. Fusce quis porttitor nulla. Vivamus ac velit id nisl cursus faucibus. Suspendisse suscipit mattis erat, non hendrerit lacus dictum eu. Duis consequat, quam vel aliquet congue, quam massa lobortis leo, ut cursus dolor risus nec nisl. Aenean sed vestibulum enim, consequat malesuada magna.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.